<a href="https://colab.research.google.com/github/Motinha321/Aula4_MeuPrimeiroRepositorio/blob/main/Exerc%C3%ADcios_Python_Linguagem_de_Programa%C3%A7%C3%A3o_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercício 1

In [ ]:
x = 1;
print( 'O valor de x é:', x,'e ele é', type(x) )

O valor de x é: 1 e ele é <class 'int'>

#Exercício 2

In [ ]:
y = 2.5
print( 'O valor de x é:', y,'e ele é', type(y) )

O valor de x é: 2.5 e ele é <class 'float'>

#Exercício 3

In [ ]:
print('Digite um número inteiro: ')
print('\n')
a = int(input())
print('\n')
print('Mais um número inteiro: ')
print('\n')
b = int(input())
print('\n')
print('O último número inteiro: ')
print('\n')
c = int(input())
print('\n')
d = a + b + c
print('O resultado da soma dos números inteiros é:', d);

Digite um número inteiro:


5


Mais um número inteiro:


6


O último número inteiro:


7


O resultado da soma dos números inteiros é: 18

#Exercício 4

In [ ]:
f = float(input('Digite um número real: '))
g = f * f
print('O resultado ao quadrado deste número é:', g)

Digite um número real: 5
O resultado ao quadrado deste número é: 25.0

#Exercício 5

In [ ]:
x = float(input('Digite um número real '))
y = x / 5
print( f'A quinta parte de {x} é igual a {y}')

Digite um número real 5
A quinta parte de 5.0 é igual a 1.0

#Exercício 6

In [ ]:
c = float(input('Digite quantos °C está hoje: '))
f = (c*9/5) + 32
print(f'{c}°C em Fahrenheith é igual a: {f}')

Digite quantos °C está hoje: 35
35.0°C em Fahrenheith é igual a: 95.0

#Exercício 7

In [ ]:
k = float(input('Digite quantos K está hoje: '))
c = k - 279.15
print(f'{k} em Celcius é igual a: {c}')

Digite quantos K está hoje: 842
842.0 em Celcius é igual a: 562.85

#Exercício 8

In [ ]:
import math
a = float(input('Digite um ângulo: '))
r = a * math.pi / 180
print(f'O ângulo de {a} é igual a: {r}')

Digite um ângulo: 30
O ângulo de 30.0 é igual a: 0.5235987755982988

#Exercício 9

In [ ]:
p = float(input('Digite uma medida em polegadas: '))
c = p * 2.54
print(f'Esta medida de {p} polegadas é igual a {c} centímetros')

Digite uma medida em polegadas: 50
Esta medida de 50.0 polegadas é igual a 127.0 centímetros

#Exercício 10

In [ ]:
a = float(input('Digite um valor: '))
b = float(input('Agora outro: '))
c = float(input('Só mais um: '))
d = (a*a) + (b*b) + (c*c)
print(f'Cada número foi elevado ao quadrado, e a soma de todos eles é igual a: {d}')

Digite um valor: 2
Agora outro: 3
Só mais um: 5
Cada número foi elevado ao quadrado, e a soma de todos eles é igual a: 38.0

#Exercício 11

In [ ]:
print('Por favor digite o nome e as notas do aluno:')
lista=[]
while len(lista)<4:
  nota=float(input('Digite a nota:'))
  if nota <=10:
    lista.append(nota)
print(f'A média do aluno é {(lista[0]+lista[1]+lista[2]+lista[3])/len(lista)}')

Por favor digite o nome e as notas do aluno:
Digite a nota:5
Digite a nota:8
Digite a nota:8
Digite a nota:7
A média do aluno é 7.0

#Exercício 12

In [ ]:
while True:
  try:
    x = int(input('Digite um número inteiro: '))
    break
  except ValueError:
    print('Você não digitou um número')
s = x+1
a = x-1
print(f'O antecessor do valor {x} é igual a {a} e o sucessor é {s}')

Digite um número inteiro: 87
O antecessor do valor 87 é igual a 86 e o sucessor é 88

#Exercício 13

In [ ]:
while True:
  try:
    x = int(input('Digite um número inteiro: '))
    break
  except ValueError:
    print('O valor não é um número inteiro')
t = (x*3) + 1
d = (x*2) - 1
print(f'O sucessor do triplo de {x} é igual a {t} e o antecessor do dobro de {x} é {d}')

Digite um número inteiro: 8
O sucessor do triplo de 8 é igual a 25 e o antecessor do dobro de 8 é 15

#Exercício 14

In [ ]:
while True:
  try:
    l = float(input('Digite o tamanho do lado do quadrado: '))
    break
  except ValueError:
    print('Isto não é um número')
a = l * l
print(f'O tamanho da área do quadrado é igual a: {a}')

Digite o tamanho do lado do quadrado: 8,
Isto não é um número
Digite o tamanho do lado do quadrado: 8
O tamanho da área do quadrado é igual a: 64.0

#Exercício 15

In [ ]:
while True:
  try:
    v = float(input('Digite o valor do produto: '))
    break
  except ValueError:
    print('Isto não é um número')
d = (v * 0.12)
desconto = v - d
print(f'O preço deste produto com desconto de 12% é igual a: R${desconto}')

Digite o valor do produto: 100
O preço deste produto com desconto de 12% é igual a: R$88.0

#Exercício 16

In [ ]:
while True:
  try:
    v = float(input('Digite o salário do funcionário: '))
    break
  except ValueError:
    print('Isto não é um número')
d = v * 1.25
print(f'O salário do funcionário com 25% de aumento é igual a: R${d}')

Digite o salário do funcionário: 1500
O salário do funcionário com 25% de aumento é igual a: R$1875.0

#Exercício 17

In [ ]:
try:
  s = float(input('Digite quanto você ganha a hora de trabalho: R$'))
  h = int(input('Digite o número de horas trabalhadas por dia: '))
  d = int(input('Digite o número de dias trabalhados: '))
except ValueError:
  print('Isto não é um número')
ht = (s*h)*d * 1.1
print(f'O valor a receber no mês é: {ht}')

Digite quanto você ganha a hora de trabalho: R$8.6
Digite o número de horas trabalhadas por dia: 8
Digite o número de dias trabalhados: 20
O valor a receber no mês é: 1513.6000000000001

#Exercício 18

In [ ]:
try:
 ano_atual = int(input('Em que ano estamos?: '))
 ano_nasc = int(input('Digite o ano em que você nasceu: '))
except ValueError:
  print('Isto não é um ano!')
idade = ano_atual - ano_nasc;
print(f'A sua idade é: {idade} anos')

Em que ano estamos?: 2022
Digite o ano em que você nasceu: 2001
A sua idade é: 21 anos

#Exercício 19

In [ ]:
import math
float(input('Digite o X: '))
float(input('Digite o Y: '))
# z = y ao quadrado * x ao quadrado dividido pela raiz